@font-face {
  font-family: 'NexaLight';
  src: url('../fonts/NexaLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/NexaLight.woff') format('woff'), url('../fonts/NexaLight.ttf')  format('truetype'), url('../fonts/NexaLight.svg#NexaLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
height:100%;
margin:0;
padding:0;
font-family: 'NexaLight','Open Sans Condensed', sans-serif;
font-weight: 300;
color: #303030;
overflow-y:auto;
}

a:hover,
a:focus {
    text-decoration: none;
}



/*===========
=====MENU====
============*/

.navbar {
    border: 0px solid transparent;
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 0px solid transparent;
  -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1);
}

.navbar-brand{
    padding: 0px 15px;
    margin: 10px;
  	height: 100px;
}

@media (max-width: 480px) {

	.navbar-brand {
		padding: 10px;
		max-width: 70%;
	}

	.navbar-brand img{
		max-width: 100%;
	}
}

.icon-bar{
	background-color: #303030;
}

.navbar-custom {
  background: #fff;/* #AE9C96 #D0CABF #989898 */
  border-color: none;
}

.outros {
  background:rgba(255,255,255,1);
}

.navbar-custom ul{
	padding: 30px;
}


.navbar-custom ul.nav li a {
	font-size: 16px;
	letter-spacing: 2px;
  	color: #303030;
	text-transform: uppercase;
	font-weight: 300;
}

.navbar-custom.top-nav-collapse ul.nav li a {
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #303030;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus{
	outline: solid 1px #ccc;
	background-color: rgba(255,255,255,0);

}
.navbar-custom .nav li.active {
    outline: solid 1px #303030;
    background-color: rgba(255,255,255,0);
}


.navbar-toggle {
    padding: 40px 6px;
    font-size: 14px;
    color: #303030;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.top-nav-collapse {
  background: #f8f8f8;
}

.dropdown-menu>.active>a{
  background-color: #FFF;
}

.social{
	margin-top: -20px;
	text-decoration: none;
}

.social a{
	height: 25px;
	width: 25px;
}

.social .facebook{
	background: url(../img/facebook.png) no-repeat;
}

.social .facebook:hover{
	-webkit-filter: contrast(10%);
    -moz-filter: contrast(10%);
    -ms-filter: contrast(10%);
    -o-filter: contrast(10%);
	filter: contrast(10%);
}

@media (max-width: 1100px) {

  .navbar-custom ul.nav li a {
    font-size: 14px;
    letter-spacing: 0;
  }
}


.carousel, .item, .active {
height:100%;

}
.carousel-inner {
height:100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.carousel .item {
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}
.carousel .active.left {
	left:0;
	opacity:0;
	z-index:2;
}
.carousel .next {
	left:0;
	opacity:1;
	z-index:1;
}

/*MAIN*/

main{
	margin-top: 120px;
}

.section-title{
	padding: 20px 10px;
}

.section-title h1{
	outline: 1px solid #303030;
}


/* ---- isotope ---- */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.isotope {
	height: 200px;
}

/* clear fix */




/* ---- .element-item ---- */

.element-item {
  overflow:hidden;
  position: relative;
  float: left;
  width: 11%;
  height: 145px;
  margin: 5px;
  color: #262524;
}

.element-item.awidth2 { width: 22.7%; }
.element-item.aheight2 { height: 300px; }
.element-item.awidth3 { width: 37%; }
.element-item.aheight3 { height: 455px; }

.element-item.width15 { width: 30.5%; }
.element-item.height15 { height: 295px; }
.element-item.width2 { width: 36%; }
.element-item.height2 { height: 295px; }
.element-item.width3 { width: 62%; }
.element-item.height3 { height: 600px; }

.element-item.width-full { width: 98%;
  padding: 0; }
.element-item.width-half {
  width: 47%;
  padding: 0;
}
.element-item.height-half {
  height: 240px;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .image-description {
  position: absolute;

}

.element-item .image-description .inner{
	position: absolute;
	color: white;
  	width:100%;
  	height:100%;
    text-align: center;
	top:40%;
}


.element-item:hover .image-description{
  width:100%;
  height:100%;
  display: block;
  background: rgba(0,0,0,.8);
  position:absolute;
  text-align: center;
  bottom:0;
  left:0;
  transition: 0.4s opacity;

}


.albuns{
	position:relative;
	float:left;
	text-align: center;
	margin-bottom: 2%;
}

.albuns p {
color: #303030;
font-size: 1.5em;
font-weight: 300;
padding: 8px 0 0;
}

.pic-in{
	width:100%;
}

.btn-default{
	border-radius: 0;
}

.btn-album{
	border-radius: 0;
	color: #FFF;
	background-color: #303030;
	border: 1px solidfechar-pedido #303030;
}

.btn-album:hover{
	background-color: #FFF;
}

.btn-album1{
	border-radius: 0;
	color: #303030;
	background-color: #FFF;
}

.btn-album1:hover{
	color: #FFF;
	background-color: #303030;
	border: 1px solid #303030;
}

.modal-content {
  border-radius: 0px;
  text-align: center;
}



.checked {
    background-color: rgba(10,255,100,.5);
    transition: 0.4s opacity;
}

.content-bottom {
	padding-bottom: 13em;
}

.bottom-product {
	padding-bottom: 2em;
}

.bottom-content {
	padding: 3px;
	margin-bottom: 10px;
	position:relative;
}
.bottom-content:nth-child(3) {
	margin-right:0;
}
.bottom-content:hover .pro-grid{
	transition: 0.4s opacity;
	display:block;
}

.pro-grid{
	text-align:center;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	display:none;
	padding: 4em 0 0;
}
.pro-btns span{
	text-decoration:none;
	color:#303030;
	font-size:1.1em;
	font-weight:300;
	background:#fff;
	padding: 0.5em 1.5em;
	text-transform: uppercase;
}
.pro-btns span:hover{
	background:#303030;
	color:#fff;
}
span.buy-in{
	padding: 0.5em;
	margin-left: 1em;
}

.detail{
	padding: 5px;
}

.detail:hover{
	color:#303030;
	border: 0;
}
/* .albuns img{
	max-width: 100%;
	max-height: 240px;
	margin: 5px;
	padding: 10px;
	padding-bottom: 40px;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
	background-image: -webkit-linear-gradient(top, #fff 85%, #eee);
	background-image: -moz-linear-gradient(top, #fff 85%, #eee);
	background-image: linear-gradient(top, #fff 85%, #eee);
} */

/* demo presentation
body {
  padding: 10px 10px;
  text-align: center;
}*/

/***/
input[type="checkbox"].graphic {
  display: none;
  padding-bottom: -10px;
}

input[type="checkbox"].graphic + label,
input[type="checkbox"].graphic + label:after {
  padding: 1px 1px;
  display: inline-block;
}

input[type="checkbox"].graphic + label {
  position: relative;
  /* style */
  background-color: rgba(255, 0, 0, .0);
  color: #1FD26A;
  border: 5px solid rgba(255, 0, 0, .0);
  margin: 1px;
}

input[type="checkbox"].graphic + label:after {
  position: absolute;
  /* style */
  top: -10%;
  right: -10px;
  font-size: 400%;
}

input[type="checkbox"].graphic + label:hover:after,
input[type="checkbox"].graphic:checked + label:after {
  content: '\2714';
}

input[type="checkbox"].graphic + label:hover:after {
  color: rgba(0, 0, 0, 0);
}

input[type="checkbox"].graphic:checked + label:hover:after {
  text-shadow: none;
  color: inherit;
}

input[type="checkbox"].graphic:checked + label {
  background-color: #1FD26A;
  border: 5px solid #1FD26A;
}

/*=============
Ãrea do Cliente
==============*/

body > .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.form-box {
  width: 360px;
  margin: 140px auto 0 auto;
  border: solid 1px #757575;
}
.form-box .header {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #303030;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  color: #fff;
}
.form-box .body,
.form-box .footer {
  padding: 10px 20px;
  color: #757575;
}
.form-box .body > .form-group,
.form-box .footer > .form-group {
  margin-top: 20px;
}
.form-box .body > .form-group > input,
.form-box .footer > .form-group > input {

  border: solid 1px #757575;
}
.form-box .body > .btn,
.form-box .footer > .btn {
  margin-bottom: 10px;
  color: #f9f6f6;
}
.form-box .body > .btn:hover,
.form-box .footer > .btn:hover {
  color: #222;
}


.form-box .footer {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
@media (max-width: 767px) {
  .form-box {
    width: 90%;
  }
}

.form-control {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  box-shadow: none;
}
.form-control:focus {
  border-color: #3c8dbc !important;
  box-shadow: none;
}
.form-group.has-success label {
  color: #00a65a;
}
.form-group.has-success .form-control {
  border-color: #00a65a !important;
  box-shadow: none;
}
.form-group.has-warning label {
  color: #f39c12;
}
.form-group.has-warning .form-control {
  border-color: #f39c12 !important;
  box-shadow: none;
}
.form-group.has-error label {
  color: #f56954;
}
.form-group.has-error .form-control {
  border-color: #f56954 !important;
  box-shadow: none;
}
/* Input group */
.input-group .input-group-addon {
  border-radius: 0;
  background-color: #f4f4f4;
}





.popover {
  font-family: "NexaLight", Helvetica, Arial, sans-serif;
  border: 1px solid #303030;
  border-radius: 0px;
  padding: 0;
}

.popover.bottom > .arrow {
  border-bottom-color: #303030;
}
.popover.bottom > .arrow:after {
  border-bottom-color: #303030;
}

.popover-title {
  background-color: #303030;
  color:#FFF;

  padding: 8px 14px;
  font-size: 14px;
  border-bottom: 0;
  border-radius: 0;
}

.btn.btn-flat {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}


.btn-flutuante {
display:scroll;
position:fixed;
bottom:20px;
right:20px;
}

.btn-flutuantee {
display:scroll;
position:fixed;
bottom:80px;
right:20px;
}

.contato{
  font-size: 42px;
  text-align: center;
  margin: 45px;
}



@media (max-width: 760px) {

.email{
  font-size: 28px;
  }
}

@media (max-width: 500px) {

.email{
  font-size: 18px;
  }
}

.log{
  font-size: 12px !important;
}


.quant-center{
width: 150px;
}

#cart_items .cart-info {
  border: 1px solid #E6E4DF;
  margin-bottom: 50px
}


#cart_items .cart-info .cart-head {
  background: #303030;
  color: #fff;
  font-size: 16px;
  font-family: 'NexaLight','Open Sans Condensed', sans-serif;;
  font-weight: normal;
}

#cart_items .cart-info .table.table-condensed thead tr {
  height: 51px;
}


#cart_items .cart-info .table.table-condensed tr {
  border-bottom: 1px solid#F7F7F0
}

#cart_items .cart-info .table.table-condensed tr:last-child {
  border-bottom: 0
}

.cart-info table tr td {
  border-top: 0 none;
  vertical-align: inherit;
}


#cart_items .cart-info .cart_price p {
  color:#696763;
  font-size: 18px
}


#cart_items .cart-info .cart_total_price {
  color: #FE980F;
  font-size: 24px;
}


.cart_product {
  display: block;
}

.item-img{
  max-width: 110px;
}

.cart_quantity_button a {
  background:#F0F0E9;
  color: #696763;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
}


.cart_quantity_input {
  color: #696763;
  float: left;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto',sans-serif;

}


.cart_delete  {

}


.cart_delete a {
  background:#F0F0E9;
  color: #FFFFFF;
  padding: 5px 7px;
  font-size: 16px
}

.cart_delete a:hover {
  background:#FE980F
}

.fechar-pedido{
  margin-bottom: 20px;
}
