{% extends "layout.html" %}

{% block titulo %}Photo Commerce - Carrinho de Compras{% endblock %}

{% block content %}
	<div class="container">
		<div class="section-title">
			<h1 class="text-center">Carrinho de Compras</h1>
		</div>
    <div class="panel-body">


			<div id="div-message" class="alert alert-success alert-dismissable message-display-none">
				<i class="fa fa-check"></i>
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				Item removido com sucesso!
			</div>



			<form action="/area-do-cliente/invoice" method="post">
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
			        <tr>
								<td><strong>Item</strong></td>
			          <td class="text-center"><strong>Código</strong></td>
								<td class="text-center"><strong>Preço Unitário</strong></td>
								<td class="text-center"><strong>Quantidade</strong></td>
								<td class="text-right"><strong>Total</strong></td>
			          <td class="text-center"><strong>Remover</strong></td>
			        </tr>
					</thead>
					<tbody>
			      {% if images | length > 0 %}
			        {% for image in images %}
								<tr>
									<td><img class="item-img" src="{{ site_url()}}/img/photos/thumbs/{{image.name}}" alt=""></td>
					        <td class="text-center">{{image.id}}</td>
									<td class="text-center price">R$<p name="quant-{{image.id}}">{{album.price}}</p></td>
									<td class="text-center">
					          <div class="quant-center center-block">
					            <div class="input-group">
					              <span class="input-group-btn">
					                  <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant-{{image.id}}">
					                    <span class="glyphicon glyphicon-minus"></span>
					                  </button>
					              </span>
					              <input type="text" name="quant-{{image.id}}" data-field="quant-{{image.id}}" id="quant" class="form-control input-number" value="1" min="1" max="20">
					              <span class="input-group-btn">
					                  <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant-{{image.id}}">
					                      <span class="glyphicon glyphicon-plus"></span>
					                  </button>
					              </span>
					            </div>
					          </div>
									</td>
									<td class="text-right" id="total.{{image.id}}"><span>R$<h6 class="priceSub" name="quant-{{image.id}}">{{album.price}}</h6></span></td>
					        <td class="text-center"><a href="" class="del-item-order text-danger" data-id="{{image.id}}"><i class="fa fa-trash fa-2x"></i></a></td>
					      </tr>
				      {% endfor %}
						{% else %}
							<h4 class="text-center">Nenhum item selecionado até o momento</h4>
						{% endif %}
						<tr>
							<td class="thick-line"></td>
							<td class="thick-line"></td>
			        <td class="thick-line"></td>
							<td class="thick-line text-center"><strong>Total</strong></td>
							<td class="thick-line text-right"><p id="grandtotal"></p></td>
			        <td class="thick-line"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="pull-right fechar-pedido">
				<a href="/area-do-cliente/{{customer.id}}" class="btn btn-lg btn-flat btn-default">Continuar Comprando</a>
				{% if images | length > 0 %}
					<button type="submit" class="btn btn-lg btn-flat btn-success .confirm-order">Confirmar Pedido</button>
				{% else %}
					<button class="btn btn-lg btn-flat btn-success .confirm-order" disabled="disabled">Confirmar Pedido</button>
				{% endif %}
			</div>
			</form>
    </div>
	</div>
{% endblock %}
