{% extends "layout.html" %}

{% block titulo %}Photo Commerce - Ensaios{% endblock %}

{% block content %}
	<div class="container">
		<div class="section-title">
			<h1 class="text-center">{{ album.name }}</h1>
		</div>
	    {% if images | length > 0 %}
				{% for image in images %}
					<div class="col-md-3 col-sm-6 col-xs-12 bottom-content">
						<a href="#" data-toggle="modal" data-target="#{{image.id}}">
							<img class="img-responsive" src="{{ site_url()}}/img/photos/thumbs/{{image.name}}" alt="" >
						</a>
						<button class="btn btn-lg btn-block btn-flat {% if image.purchased == 0 %}btn-success buy{% else %} btn-danger purchased{% endif %}" data-id="{{ image.id }}" id="buy_{{image.id}}">{% if image.purchased == 0 %}Selecionar{% else %}Selecionado{% endif %}</button>
					</div>


					<div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  	<div class="modal-dialog">
						    <div class="modal-content">
						      	<div class="modal-body">
									<img class="img-responsive" src="{{ site_url()}}/img/photos/{{image.name}}" alt="" >
						      	</div>
						    </div>
					    </div>
					</div>
				{% endfor %}
				<a href="/area-do-cliente/cart" class="btn btn-lg btn-flat btn-success btn-flutuante" >Finalizar Pedido</a>
		{% else %}
			<h4 class="text-center">Nenhuma imagem cadastrada até o momento</h4>
		{% endif %}
	</div>
{% endblock %}
