{% extends "layout.html" %}

{% block titulo %}Look Photografia - O seu maior momento em detalhes{% endblock %}

{% block content %}

        <div id="loader">
          <div id="status"></div>
        </div>
        <ul class="cb-slideshow">
          {% for category in categories %}
            <li><img src="img/category_cover/{{category.cover}}" class="bg" class="bg"><div><h3><a href="/{{category.slug}}">{{category.name}}</a></h3></div></li>
          {% endfor %}
        </ul>

{% endblock %}
