{% extends "layout.html" %}

{% block titulo %}Look Photografia - Ensaios{% endblock %}

{% block content %}
	<div class="container">
		<div class="section-title">
			<h1 class="text-center">{{ album.name }}</h1>
		</div>
	    {% if images | length > 0 %}
				{% for image in images %}
					<div class="col-md-3 col-sm-6 col-xs-12 bottom-content image-cart">
						<img class="img-responsive" src="http://localhost:8888/img/photos/thumbs/{{image.name}}" alt="" />
						<div class="pro-grid image-order" data-id="{{image.id}}">
							<div class="pro-btns">
								<a class="detail btn-album fa fa-search-plus fa-3x" href="#" data-toggle="modal" data-target="#myModal-{{image.id}}">
								</a>
							</div>
						</div>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="myModal-{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  	<div class="modal-dialog">
						    <div class="modal-content">
						      	<div class="modal-body">
									<img class="img-responsive" src="http://localhost:8888/img/photos/{{image.name}}" alt="" >
						      	</div>
						    </div>
					    </div>
					</div>
				{% endfor %}
		{% else %}
			<h4 class="text-center">Nenhuma imagem cadastrada até o momento</h4>
		{% endif %}
	</div>
{% endblock %}

